<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.handsome.projectnz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.Home.WorkReportNewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Home.LoginActivity" />
        <activity android:name=".View.Home.RegisterActivity" />
        <activity android:name=".View.Home.ReturnProjectTaskActivity" />
        <activity android:name=".V.Project.ProjectNew" />
        <activity android:name=".V.Project.ProjectSum" />
        <activity android:name=".V.Project.ProjectFile" />
        <activity android:name=".V.Project.ProjectDeleteFile" />
        <activity android:name=".V.Project.ProjectUpdate" />
        <activity android:name=".V.Mine.MineSetting" />
        <activity android:name=".V.Mine.MineFeedback"/>
        <activity android:name=".View.Home.WorkTaskProjectAcceptActivity"/>
        <activity android:name=".View.Home.WorkTaskNewActivity"/>
    </application>

</manifest>