<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.handsome.projectnz">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Home.WorkTask.WorkTaskOfficial.WorkTaskOfficialReturnActivity" />
        <activity android:name=".View.Home.WorkTask.WorkTaskProject.WorkTaskProjectActivity" />
        <activity android:name=".View.Home.WorkTask.WorkTaskOfficial.WorkTaskOfficialActivity" />
        <activity android:name=".View.Home.WorkTask.WorkTaskActivity" />
        <activity android:name=".View.Home.OptionProject.OptionProjectActivity" />
        <activity android:name=".View.Home.ApplyCommon.ApplyDetailsActivity" />
        <activity android:name=".View.Home.ApplyCommon.ApplyCommonActivity" />
        <activity android:name=".View.Home.PlanDetails.PlanStaffRosterActivity" />
        <activity android:name=".View.Home.PlanDetails.PlanScheduleRecordActivity" />
        <activity android:name=".View.Home.PlanDetails.PlanScheduleFeedbackActivity" />
        <activity android:name=".View.Home.PlanDetails.PlanMakeActivity" />
        <activity android:name=".View.Home.PlanDetails.PlanDetailsActivity" />
        <activity android:name=".View.Home.WorkReport.WorkReportContentAcitvity" />
        <activity android:name=".View.Home.WorkReport.WorkReportNewActivity" />
        <activity android:name=".View.Home.WorkReport.WorkReportActivity" />
        <activity android:name=".View.Home.AnnouncementsCompany.AnnouncementsDetailActivity" />
        <activity android:name=".View.Home.AnnouncementsCompany.AnnouncementsNewsActivity" />
        <activity android:name=".View.Home.AnnouncementsCompany.AnnouncementsCompanyActivity" />
        <activity android:name=".View.Home.DailyCheck.DailyCheckCharacterActivity" />
        <activity android:name=".View.Home.DailyCheck.DailyCheckNewActivity" />
        <activity android:name=".View.Home.DailyCheck.DailyCheckAlreadyActivity" />
        <activity android:name=".View.Home.DailyCheck.DailyCheckActivity" />
        <activity android:name=".View.Home.QualityCheck.QualityCheckActivity" />
        <activity android:name=".View.Home.QualityCheck.QualityCheckCharacterActivity" />
        <activity android:name=".View.Home.QualityCheck.QualityCheckAlreadyActivity" />
        <activity android:name=".View.Home.QualityCheck.QualityCheckNewActivity" />
        <activity android:name=".View.Home.SecurityCheck.SecurityCheckNewActivity" />
        <activity android:name=".View.Home.SecurityCheck.SecurityCheckAlreadyActivity" />
        <activity android:name=".View.Home.SecurityCheck.SecurityCheckCharacterActivity" />
        <activity android:name=".View.Home.SecurityCheck.SecurityCheckActivity" />
        <activity android:name=".View.Home.PlanProgress.PlanProgressActivity" />
        <activity android:name=".View.Home.Login.LoginActivity" />
        <activity android:name=".View.Home.Register.RegisterActivity" />
        <activity android:name=".View.Home.WorkTask.WorkTaskProject.ReturnProjectTaskActivity" />
        <activity android:name=".View.Project.ProjectNewActivity" />
        <activity android:name=".View.Project.ProjectSumActivity" />
        <activity android:name=".View.Project.ProjectFileActivity" />
        <activity android:name=".View.Project.ProjectDeleteFileActivity" />
        <activity android:name=".View.Project.ProjectUpdateActivity" />
        <activity android:name=".View.Mine.MineSetting" />
        <!--<activity android:name=".View.Home.WorkTaskOfficialAcceptActivity" />-->
        <activity android:name=".View.Mine.MineFeedback" />
        <activity android:name=".View.Home.WorkTask.WorkTaskProject.WorkTaskProjectAcceptActivity" />
        <activity android:name=".View.Home.WorkTask.WorkTaskNewActivity" />
        <activity android:name=".View.Mine.MineCompanyInfoEmployee" />
        <activity android:name=".View.Home.Statistics.InfoStatisticsActivity" />
        <activity android:name=".View.Home.Statistics.InfoStatisticsDownloadActivity" />
        <activity android:name=".View.Mine.MinePersonalInfo" />
        <activity android:name=".View.Mine.MinePersonalInfoCorrect" />
        <activity android:name=".View.Mine.MineCompanyInfo" />
        <activity android:name=".View.Mine.MineCompanyInfoCorrect" />
        <activity android:name=".View.Home.MaterialHandling.StockOutputActivity" />
        <activity android:name=".View.Home.MaterialHandling.StockOutputNewActivity" />
        <activity android:name=".View.Home.MaterialHandling.StockKeepActivity" />
        <activity android:name=".View.Home.MaterialHandling.MaterialStreamActivity" />
        <activity android:name=".View.Home.MaterialHandling.MaterialEditActivity" />
        <activity android:name=".View.Home.MaterialHandling.MaterialInputRecordActivity" />
        <activity android:name=".View.Home.MaterialHandling.MaterialInputRecordDetailActivity" />
        <activity android:name=".View.Home.MaterialHandling.MaterialOutputRecordActivity" />
        <activity android:name=".View.Home.MaterialHandling.MaterialOutputRecordDetailActivity" />
        <activity android:name=".View.Home.Statistics.MaterialStatisticsActivity" />
        <activity android:name=".View.Home.Statistics.AssignmentStatisticsActivity" />
        <activity android:name=".View.Home.TaskCheckAndAcceptActivity" />
        <activity android:name=".View.Home.Statistics.AssignmentListDetailActivity" />
        <activity android:name=".View.Home.Statistics.AssignmentProjectActivity" />
        <activity android:name=".View.Home.Statistics.AssignmentOfficeActivity" />
        <activity android:name=".View.Project.ProjectDetailActivity" />
        <activity android:name=".View.Project.ProjectFileCollectActivity" />
        <activity android:name=".View.Home.Statistics.EmployeeStatisticsActivity"></activity>
    </application>

</manifest>