<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.handsome.projectnz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.Home.ApplyCommonActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".View.Home.OptionProjectActivity" /> -->
        <!-- <activity android:name=".View.Home.OptionProjectActivity" /> -->
        <activity android:name=".View.Home.ApplyDetailsActivity"/>
        <activity android:name=".View.Home.WorkReportActivity" />
        <activity android:name=".View.Home.LoginActivity" />
        <activity android:name=".View.Home.RegisterActivity" />
        <activity android:name=".View.Home.ReturnProjectTaskActivity" />
        <activity android:name=".View.Project.ProjectNewActivity" />
        <activity android:name=".View.Project.ProjectSumActivity" />
        <activity android:name=".View.Project.ProjectFileActivity" />
        <activity android:name=".View.Project.ProjectDeleteFileActivity" />
        <activity android:name=".View.Project.ProjectUpdateActivity" />
        <activity android:name=".View.Mine.MineSetting" />
        <activity android:name=".View.Mine.MineFeedback" />
        <activity android:name=".View.Home.WorkTaskProjectAcceptActivity" />
        <activity android:name=".View.Home.WorkTaskNewActivity" />
        <activity android:name=".View.Home.OptionProjectActivity" />
    </application>

</manifest>